<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forest.home.dao.HomeMapper">
  <select id="callHomeDatas" statementType="CALLABLE" parameterType="java.util.Map"
          resultType="java.util.Map" >
    <![CDATA[
      {call p_getHome_databytype(#{datatype, mode=IN, jdbcType=VARCHAR})}
    ]]>
  </select>
</mapper>
