<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forest.project.dao.FrameResourceMapper">
  <resultMap id="BaseResultMap" type="com.forest.project.model.FrameResource">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="def" jdbcType="CHAR" property="def" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="sortno" jdbcType="INTEGER" property="sortno" />
    <result column="resource_id" jdbcType="CHAR" property="resourceId" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="modifer" jdbcType="VARCHAR" property="modifer" />
    <result column="modifyTime" jdbcType="TIMESTAMP" property="modifytime" />
    <result column="inuse" jdbcType="CHAR" property="inuse" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
</mapper>