<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forest.sy.dao.SyMapper">
    <select id="callsyDatas" statementType="CALLABLE" parameterType="java.util.Map"
            resultType="java.util.Map">

      {call p_getSyDatas(
                #{datatype,mode=IN,jdbcType=VARCHAR},
                #{sqllimit,mode=IN,jdbcType=VARCHAR},
    <![CDATA[#{sqlwhere,mode=IN,jdbcType=VARCHAR}]]>
          )}
    </select>

    <!-- 兽药检验数据查询条件 -->
    <sql id="where_sql">
        SELECT a.jynd, a.jybh, a.ypbh, a.jybm,md.jymd_name as jymdmc, a.jyyj, aw.sqph,
        a.ypmc, a.spmc, a.pzwh, a.ph, f.currentstatus,
        f.sfmy, f.sfjsy, f.tjdx, a.sqlx, f.todoperson
        FROM sy_jymd md,
        sy_apply_wt aw,
        sy_apply ap,
        sy_weituo a
        <if test="currentstatus!=null and currentstatus==2">
            LEFT JOIN sy_flowdata f ON a.jybh = f.jybh
        </if>
        <if test="currentstatus==null or currentstatus!=2">
            INNER JOIN sy_flowdata f ON a.jybh = f.jybh
        </if>
        <if test="currentstatus==null">
              AND f.currentstatus <![CDATA[>]]> 2
        </if>
        <if test="currentstatus==50 and option==1">
            AND IFNULL(f.syqr,'1900-01-01') = '1900-01-01'
        </if>
        <if test="currentstatus==50 and option==2">
            AND f.syqr is not null AND IFNULL(f.hsqr,'1900-01-01') = '1900-01-01' AND f.currentstatus <![CDATA[>]]> 6
        </if>
        <if test="currentstatus==50 and option==3">
            AND f.hsqr is not null
        </if>
        <if test="nodeindex == 4">
            AND f.syqr is not null
        </if>
        <if test="currentstatus!=null and currentstatus!=2 and currentstatus!=19 and currentstatus!=98 and currentstatus!=10 and currentstatus!=50">
            AND f.currentstatus = #{currentstatus}
        </if>
        <if test="currentstatus!=null and (currentstatus==19 or currentstatus==98)">
            AND f.currentstatus IN (9, 10, 99)
        </if>
        <if test="currentstatus!=null and (currentstatus==10)">
            AND f.currentstatus IN (10, 99)
        </if>
        <if test="currentstatus!=null and currentstatus==5 and userid!=null">
            AND f.todoperson = #{userid}
        </if>
        <if test="sfmy!=null">
            AND f.sfmy = #{sfmy}
        </if>
        <if test="sfjsy!=null">
            AND f.sfjsy = #{sfjsy}
        </if>
        <if test="tjdx!=null">
            AND f.tjdx = #{tjdx}
        </if>
        <if test="todoperson!=null">
            AND f.todoperson = #{todoperson}
        </if>
        <if test="(currentstatus==null or currentstatus!=2) and jyry!= null">
            INNER JOIN frame_employee e on e.userid=f.todoperson and e.name like '%${jyry}%'
        </if>
        WHERE a.inuse = 1 AND a.jymd = md.id and aw.ypbh = a.ypbh and ap.sqph=aw.sqph
        and ((ap.status = 9 and ap.iscjwt=0) OR  ap.iscjwt=1)
        <if test="jynd!=null">
            AND a.jynd <![CDATA[=]]> ${jynd}
        </if>
        <if test="jybm!=null">
            AND a.jybm <![CDATA[=]]>  #{jybm}
        </if>
        <if test="currentstatus==2">
            AND (a.jybh IS NULL  OR a.jybh='' or f.currentstatus = 2 )
        </if>
        <if test="jyph!=null">
            AND aw.sqph=#{jyph}
        </if>
        <if test="keyword!=null and currentstatus  > 2 and nodeindex != null and nodeindex != 99">
            AND (locate('${keyword}', a.jybh)>0 OR locate('${keyword}', a.ypmc)>0 OR locate('${keyword}', a.jyyj)>0 )
--             AND (a.jybh like '%${keyword}%' OR a.ypmc like '%${keyword}%' OR a.jyyj like '%${keyword}%')
        </if>
        <if test="keyword!=null and (nodeindex == null or nodeindex == 99 or nodeindex == null)">
            AND (locate('${keyword}', a.jybh)>0 OR locate('${keyword}', a.ypmc)>0 OR locate('${keyword}', a.jyyj)>0 OR locate('${keyword}', a.scdw)>0)
--             AND (a.jybh like '%${keyword}%' OR a.ypmc like '%${keyword}%' OR a.jyyj like '%${keyword}%' OR a.scdw like '%${keyword}%')
        </if>
        <if test="keyword!=null and currentstatus != null and 2 >= currentstatus ">
            AND (locate('${keyword}', a.ypbh)>0 OR locate('${keyword}', a.ypmc)>0 OR locate('${keyword}', a.jyyj)>0 )
--             AND (a.ypbh like '%${keyword}%' OR a.ypmc like '%${keyword}%' OR a.jyyj like '%${keyword}%')
        </if>
    </sql>

    <!-- 查询兽药检验数据总数 -->
    <select id="querySyDataCnt" parameterType="java.util.Map" resultType="java.lang.Long">
        SELECT count(x.jybh) as allcount FROM (
        <include refid="where_sql" />
        ) x
    </select>
    <!-- 查询兽药检验数据 -->
    <select id="querySyDatas" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT w.id, w.jynd, w.jybh, w.ypbh, w.ypmc, w.spmc, w.jyxm, d4.name as jyxmmc, w.jyyj, w.jymd, x.sqph,
        x.jymdmc, w.jybm, org.`name` as jybmmc, w.yplx, d1.name as yplxmc,
        w.jx, d2.`name` as jxmc, w.bz, d3.`name` as bzmc, w.tyfb,
        CASE w.tyfb WHEN 1 THEN '同意' ELSE '不同意' END as tyfbmc,
        w.sfjj, CASE w.sfjj WHEN 1 THEN '加急' ELSE '普通' END as sfjjmc, w.qyfs, d5.`name` as qyfsmc,
        w.cjlx, d7.`name` as cjlxmc, w.cjyj, d8.`name` as cjyjmc, w.cjhj, d9.`name` as cjhjmc,
        w.gg, w.pzwh,w.ph, DATE_FORMAT(w.yxq, '%Y-%m-%d') as yxq, w.dbl, w.jpsl,
        DATE_FORMAT(w.cjrq, '%Y-%m-%d') as cjrq, w.scdw, w.scdwdz, w.scdwyb, w.scdwdh,w.scdwlxr,
        w.cjdw,w.sydw,w.wtdw,w.wtdwdz,w.wtdwyb,w.wtdwdh,w.wtdwcz,w.wtdwlxr,w.wtr,
        DATE_FORMAT(w.wtrq, '%Y-%m-%d') as wtrq,w.remark,w.inuse,
        w.sqlx, CASE w.sqlx WHEN 2 THEN '换发申请' ELSE '首次申请' END as sqlxmc,
        f1.sjr,DATE_FORMAT(f1.syqr, '%Y-%m-%d') as syqr,DATE_FORMAT(f1.jyqr, '%Y-%m-%d') as jyqr,
        e1.name as syr,
        DATE_FORMAT(f1.hsqr, '%Y-%m-%d') as hsqr,f1.hsqrr,f1.jysqrr,f1.ypcll,f1.sfmy,
        f1.sfjsy,f1.jyjl,f1.jsyjl, f1.tjdx, f1.todoperson,
        f1.jyrxm as jyr, f1.currentstatus,f1.sendto,f1.express,
        DATE_FORMAT(f1.postday, '%Y-%m-%d') as postday,IF(nullif(f1.yswj,'') != '', '已上传','') as yswj
        FROM (
        <include refid="where_sql" />
        <if test="orderby==null and 3 > currentstatus">
            ORDER BY aw.sqph DESC, a.ypbh ASC
        </if>
        <if test="orderby==null and currentstatus > 6">
            ORDER BY a.jybh DESC
        </if>
        <if test="orderby==null and currentstatus in {4,5,6} ">
            ORDER BY a.jybh ASC
        </if>
        <if test="startindex!=null">
            LIMIT ${startindex}, ${stopindex}
        </if>
        ) x INNER JOIN sy_weituo w ON w.ypbh = x.ypbh and x.jynd = w.jynd
        LEFT JOIN sy_flowdata f1 ON x.jybh = f1.jybh
        LEFT JOIN frame_organization org on w.jybm = org.id
        LEFT JOIN frame_dictionary d1 on w.yplx = d1.id
        LEFT JOIN frame_dictionary d2 on w.jx = d2.id
        LEFT JOIN frame_dictionary d3 on w.bz = d3.id
        LEFT JOIN frame_dictionary d4 on w.jyxm = d4.id
        LEFT JOIN frame_dictionary d5 on w.qyfs = d5.id
        LEFT JOIN frame_dictionary d7 on w.cjlx = d7.id
        LEFT JOIN frame_dictionary d8 on w.cjyj = d8.id
        LEFT JOIN frame_dictionary d9 on w.cjhj = d9.id
        LEFT JOIN frame_employee e1 on e1.userid=f1.sjr
    </select>

    <select id="getSySingleItem"  resultType="java.lang.String">
      SELECT DISTINCT ${arg0}
      FROM sy_weituo
      WHERE ${arg0} LIKE Concat('%',#{arg1},'%')
      LIMIT 0,10
    </select>

</mapper>
