<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forest.core.Mapper">
  <select id="callProcure" statementType="CALLABLE" parameterType="java.util.Map"
          resultType="java.util.Map" >
    <![CDATA[
      {call execprocdure(#{procIndex, mode=IN, jdbcType=VARCHAR},
                        #{sqlWhere, mode=IN, jdbcType=VARCHAR})}
    ]]>
  </select>
</mapper>